<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | Alumini</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../images/icons/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
</head>

<body>
    <!-- start flash message -->
    <% if(successMessage && successMessage.length>0 ){ %>
    <div class="alert alert-success mb-0" role="alert">
        <div class="container text-center">
            <%= successMessage %>
        </div>
    </div>
    <% } else if(errorMessage && errorMessage.length>0 ){ %>
    <div class="alert alert-danger mb-0" role="alert">
        <div class="container text-center">
            <%= errorMessage %>
        </div>
    </div>
    <% } %>
    <!-- end flash message -->

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-40 p-b-30">

                <span class="login100-form-title p-b-40" style="color: #37517E;">
                    Welcome to APSIT <br>Alumini Portal
                </span>

                <span class="login100-form-title p-b-40">
                    Admin Login
                </span>

                <form action="/admin/login" method="POST" class="login100-form">
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">
                        <span class="btn-show-pass">
                            <i class="fa fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <br>
                </form>

                <div class="flex-col-c p-t-10">
                    <a href="/login" class="txt3 bo1 hov1 p-t-40">
                        User Login
                    </a>
                </div>

            </div>
        </div>
    </div>


    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/vendor/chosen/chosen.jquery.js"></script>
	<script src="../../assets/js/mainAuth.js"></script>

</body>

</html>