<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="#">APSIT</a>.</strong>
    All rights reserved.
    
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Bootstrap 4 -->
<script src="../assets/vendor/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../assets/js/adminlte.js"></script>

<script src="../assets/vendor/tableSorter/js/table-sorter.js"></script>

<script>
    $("#mainForm").on("submit", function() {
        $("#submit-btn-icon").remove();
        $("#spinner").addClass("spinner-border spinner-border-sm");
    });

    $(".btn-action-spinner").on("click", function() {
        $( this ).html('<span id="spinner" class="spinner-border spinner-border-sm" style="vertical-align: middle;" role="status" aria-hidden="true"></span>')
    });
</script>