<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>To get the latest updates</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Enter your email...">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-around">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>A. P. Shah Institute Of Technology</h3>
                    <p>
                        Survey No. 12, 13,<br>
                        Opp. Hypercity Mall, Kasarvadavali,<br>
                        Ghodbunder Road, Thane West,<br>
                        Thane, Maharashtra 400615<br><br>
                        <strong>Phone:</strong> +91 9022147199<br>
                        <strong>Email:</strong><a href="mailto:alumni@apsit.edu.in"> alumni@apsit.edu.in</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a >Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a >Privacy policy</a></li>
                      </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p class="text-center">Stay connected to get latest updates from us.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright 2020<strong><span> A. P. Shah Institute Of Technology</span></strong>. All Rights
            Reserved
        </div>
        <div class="credits">

            Designed with ❤ by <a href="">Rajan Khade</a>, <a href="">Aditya Shinde</a> and <a href="">Chinmay
                Dharap</a>.
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-arrow-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>


    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
