<%- include('partials/header'); -%>
<div class="container">
    <h1>Home page!!!</h1>
    <a href="/news" class="p-1">News</a>
    <a href="/events" class="">Events</a>
    
    <h4 class="py-3">Showcase images</h3>
    <a href="/showcase/new">Add new image to Showcase</a>
    
    <% showcases.forEach(function(item){ %>
        <div>
            <p><%= item.title %></h4>
            <img src="<%= item.image %>" alt="" style="width:200px;height:100px;">
        </div>
    <% }); %>
    
    <h3>Recruiters</h3>
    
    <h3>Testimonials</h3>
</div>

<%- include('partials/footer'); -%>